MONGODB_URI=
JWT_SECRET=ayudh-vikas-dev-secret
PORT=4000
VITE_PORT=3000
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=noreply@ayudhvikas.com
APP_URL=http://localhost:3000
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
